*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/*Navbar*/
.navbar{
    background: #1a1919a9;
    padding: 1rem;
    border-color: rgb(255, 51, 0);
}

.main-content{
    padding: 2rem;
    min-height: 80vh;
}

.imagem-direita {
    display: block;
    margin-left: auto;
    margin-right: 0;
    width: 25%; /* mantém o tamanho normal da imagem */
    max-width: 100%; /* garante que ela não quebre o layout em telas pequenas */
    margin-top: -350px;
}

.rodape {
  background-color: #1e1e1e;
  color: #f1f1f1;
  padding: 40px 20px 20px;
  font-family: Arial, sans-serif;
}

.rodape-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  gap: 30px;
}

.rodape-coluna {
  flex: 1 1 300px;
}

.rodape-coluna h4 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #e65c00;
}

.rodape-coluna p {
  color: #ccc;
  font-size: 14px;
}

.rodape-redes a {
  margin-right: 10px;
  display: inline-block;
}

.rodape-redes img {
  width: 24px;
  height: 24px;
  transition: transform 0.3s;
}

.rodape-redes img:hover {
  transform: scale(1.2);
}

.rodape-direitos {
  text-align: center;
  margin-top: 30px;
  font-size: 13px;
  color: #999;
  border-top: 1px solid #333;
  padding-top: 15px;
}

/* Frase motivacional */
.motivacional {
    font-size: 20px;  /* Tamanho menor */
    text-align: right;  /* Alinha o texto à direita */
    margin-top:25px;  /* Move a frase para cima */
    margin-right: 50px;  /* Espaço à direita */
    margin-bottom: auto;
}

/* Frase centralizada (preta e laranja) */
.titulo-centralizado {
    text-align: left;  /* Centraliza o texto */
    margin-top: 200px;  /* Move a frase para baixo */
    font-size: 50px;  /* Ajuste de tamanho, conforme necessário */
    font-family: sans-serif;
}

.titulo-centralizado span {
    color: rgb(212, 78, 16);
    text-shadow: 1px 1px 2px black;
}

/* Botão Inscrição */
.inscricao-container {
    display: flex;
    justify-content: left;
    margin-top: -180px;/* Reduzi o valor para mover o botão mais para cima */
    padding-left: 525px;
}

.inscricao {
    font-size: 24px; 
    color: black; 
    border: 3px solid rgb(212, 78, 16); 
    padding: 12px 24px; 
    background-color: white; 
    cursor: pointer;
    font-weight: bold;
    border-radius: 8px;
}

/*Menu Mobile*/
.menu-toglle{
    display: none;
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
}

@media (max-width:768px){
    .navbar{
        position: relative;
    }    

    .menu-toglle{
        display: block;
    }
}

.h3{
    font-size: 20px;  /* Tamanho menor */
    text-align: right;  /* Alinha o texto à direita */
    margin-top: -400px;  /* Move a frase para cima */
    margin-right: 50px;  /* Espaço à direita */
    margin-bottom: auto;
    padding-right: 320px;
}